#main {
    color: rgb(218, 238, 255);
    font-size: larger;
}

.title {
    text-align: center;
}

.social {
    float: right;
}

.spacing-vertical {
    padding-top: 0.8cm;
}

.spacing-horizontal-large {
    padding-left: 2.5cm;
    display: inline-block;
}

img {
    vertical-align: middle;
    margin: 0;
}

.flags img {
    margin-left: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.centered {
    justify-content: center;
    text-align: center;
}

.contact-item i {
    font-size: 1.5rem;
    margin-right: 10px;
    color: black;
}

.bottom {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    .contact-item i {
        color: white;
    }
}
