#main {
    color: rgb(218, 238, 255);
    font-size: smaller;
}

.spacing-vertical {
    padding-top: 0.8cm;
}

.spacing-horizontal {
    padding-left: 0.2cm;
    display: inline-block;
}

.spacing-horizontal-large {
    padding-left: 2.5cm;
    display: inline-block;
}

.nonewline {
    display: inline-block;
}

img {
    vertical-align: middle;
    display: inline-block;
    margin: 0cm;
}

svg {
    height: 30px;
    width: 30px;
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}

.bottom {
    text-align: center;
}